// В этом файле должны быть стили для БЭМ-блока examples, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.examples {
	display: flex;
	flex-direction: column;

  $block-name:                &; // #{$block-name}__element {}
  &__inner {
  	@include container;
  }
  &__title {
  	text-align: center;
  }

  &__block-wrapper {
  	background-color: #d4c7bf;
  	margin: 10px 0;
  }
  &__block {
  	padding: 35px 0;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	text-align: center;
  	background-image: url(../img/examples-bg.png);
  	background-repeat: no-repeat;
  	background-position: right bottom;
  	@media (min-width: $screen-md) {
  		flex-wrap: nowrap;
  		text-align: left;
  	}
  }
  &__image {
		min-width: 260px;
		flex-basis: 260px;
		height: 220px;
		background-size: cover;
		background-position: center top;
		margin-bottom: 20px;
		@media (min-width: $screen-md) {
			margin-bottom: 0;
			margin-right: 30px;
		}
  }
  &__caption {
  	h3 {
  		margin-top: 0;
  	}
  	p {line-height: 1.8;}
  }
  &__more-link {
  	font-weight: 700;
		display: block;
		max-width: 120px;
  }

}
