// В этом файле должны быть стили для БЭМ-блока about, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.about {

  $block-name:                &; // #{$block-name}__element {}
  position: relative;
  padding: 10px 0;
  background-image: url("../img/about-bg.jpg");
  background-position: center center;
  &__overlay {
  	background: rgba(0, 0, 0, 0.75);
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	z-index: 1;
  }
  &__inner {
  	@include container;
  	position: relative;
  	z-index: 2;
  }
  &__title {
  	text-align: center;
  	font-size: 28px;
  	margin-bottom: 32px;
  	color: #fff;
  }
  &__text {
		text-align: center;
		color: #fff;
		max-width: 750px;
		margin: auto;
		font-size: 14px;
		line-height: 26px;
		margin-bottom: 20px;
		&--lead {
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 24px;
		}
  }

}
