// В этом файле должны быть стили для БЭМ-блока reviews, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.reviews {
	padding: 10px 0;
	$block-name:                &; // #{$block-name}__element {}
	&__inner {
		@include container;
	}
	&__title {
		text-align: center;
		margin-bottom: 1.4em;
	}
	&__card-wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__card {
		width: calc(50% - 15px);
		margin-bottom: 30px;
		@media (max-width: $screen-md) {
			width: 100%;
		}
	}

}
