// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.375em;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.btn {

  $block-name:                &;
  // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  border-radius: $border-radius;
  border: 1px solid $gray-lighter;
  background-color: $gray-lightest;
  background-image: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: darken($gray-lightest, 10%);
    border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: $opacity;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }



  &--orange {
    color: #000;
    background-color: #ffa508;
    border: 2px solid #ffa508;

    &:hover,
    &:focus {
      color: #000;
      background-color: #ffb940;
      border-color: #ffb940;
    }

    &--disabled,
    &:disabled {
      color: #000;
      background-color: $color-main;
      border-color: $color-main;
    }
  }


  &--orange-outline {
    border-width: 2px;
    min-width: 200px;
    border-style: solid;
    border-color: rgb(255, 185, 64);
    border-image: initial;
    background: rgb(255, 255, 255);
    padding: 0.9em 0.7em;

    &:hover,
    &:focus {
      background: #ffb940;
      border-color: #ffb940;
    }
  }

	&--options {
		background-color: transparent;
		border-color: transparent;
		border-radius: 0;
    font-size: 14px;
		padding: 0.5em 0.4em;

  	&.btn--options-active {
  		background-color: #606c82;
  		border-color: #606c82;
  		color: #fff;
  		&:hover,
  		&:focus {
	  		background-color: #606c82;
	  		border-color: #606c82;
	  		color: #fff;
        box-shadow: none;
        -webkit-box-shadow: none;
  		}
  	}
  	&:hover,
  	&:focus {
  		background-color: #bdc9e0;
  		border-color: #bdc9e0;
      box-shadow: none;
      -webkit-box-shadow: none;
  	}
	}

  &--card-all {
  	background-color: transparent;
  	text-decoration: underline;
  	color: #414142;
  	padding: 1.2em 0.4em;
  	width: 100%;
  	border-radius: 0;
  	border: none;
  	&:hover,
  	&:focus {
  		background-color: #bdc9e0;
  	}
  }
  &--plumbing-card {
		border: 1px solid #000;
		background-color: transparent;
		font-weight: 700;
		border-radius: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.7em 0.4em;
		svg {
			margin-right: 10px;
		}
  	&:hover,
  	&:focus {
  		background-color: #000;
  		color: #fff;
  	}
  }
}
