// В этом файле должны быть стили для БЭМ-блока sidebar-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.sidebar-nav {

  $block-name:                &; // #{$block-name}__element {}

  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #dadada;
  border-radius: 6px;
  margin-bottom: 40px;

  &__item {

    &:not(:last-child) {
      border-bottom: 1px solid #dadada;
    }

    &.active {

      #{$block-name}__link {
        background: #ffae37;
      }
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    padding: 15px 18px;
    font-size: 16px;

    &:hover,
    &:focus {
      background: #e2e2e2;
    }
  }

}
