// В этом файле должны быть стили для БЭМ-блока brand-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.brand-carousel {

  $block-name:                &; // #{$block-name}__element {}

  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  padding-left: 40px;
  padding-right: 40px;

  .owl-prev,
  .owl-next {
    top: 50%;
    width: 26px;
    height: 48px;
    transform: translateY(-50%);
  }

  @media (max-width: ($screen-md - 1)) {
    padding-left: 20px;
    padding-right: 20px;

    .owl-prev,
    .owl-next {
      width: 15px;
      height: 30px;
    }
  }

  .owl-prev {
    left: 0;
  }

  .owl-next {
    right: 0;
  }
}
