// В этом файле должны быть стили для БЭМ-блока dubl, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.dubl {

  $block-name:                &; // #{$block-name}__element {}
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
	flex-wrap: wrap;
  @media (min-width: $screen-md) {
  	flex-wrap: nowrap;
  }

  &__left,
  &__right {
		background-color: #444;
		padding: 15px;
		flex-basis: 100%;
		color: #fff;
		position: relative;
		overflow: hidden;
		&:before {
			content:"";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.7);
		}
  }
	&__left {
		margin-right: 15px;
		display: flex;
		justify-content: flex-end;
		background-image: url(../img/dubl-bg-01.jpg);
		background-size: cover;
		background-position: center top;
		@media (max-width: $screen-md) {
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
	&__right {
		margin-left: 15px;
		justify-content: flex-start;
		padding-left: 35px;
		background-image: url(../img/dubl-bg-02.jpg);
		background-size: cover;
		background-position: center center;
		.dubl__block-caption {
			h3 {
				text-decoration: underline;
			}
		}
		@media (max-width: $screen-md) {
			margin-left: 0;
		}
	}
	&__block {
		max-width: 535px;
		position: relative;
		z-index: 2;
		@media (max-width: $screen-md) {
			width: 100%;
			max-width: 100%;
		}
	}
	&__block-caption {
		margin-bottom: 40px;
	}
	.form--order {
		padding: 0;
	}
}
